:root {
    --nothing: rgb(0, 0, 0);
    --cool-blue: rgb(133, 186, 247);
    --cool-pink:rgb(255, 62, 191);
}

a {
    cursor: pointer;
    color: var(--cool-blue);
}

.header-main {
    font-family: monospace;
    background-color: var(--nothing);
    color: var(--cool-blue);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content:row;
    align-items: center;
}
.header .h1{
    display: flex;
    
}
nav ul li {
    display: inline;
    margin: 50px;
}

.body-main {
    font-family: monospace;
    background-color: var(--cool-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: 
}

img {
    height: 200px;
}
