* {
    /* background-color: var(--nothing);  */
}
:root {
    --nothing: rgb(0, 0, 0);
    --cool-blue: rgb(133, 186, 247);
    --cool-pink:rgb(197, 73, 255);
    --everything: rgb(250, 250, 250);
}

a {
    cursor: pointer;
    color: var(--cool-blue);
    font-size: 17px;
}
@media screen and (max-width: 768px) {
    .header, nav{
        flex-wrap: row;
    }
}
.header-main {
    font-family: monospace;
    background-color: var(--nothing);
    color: var(--cool-blue);
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content:row;
    align-items: center;
}
h1 {
    font-size: 40px;
}
.header .h1{
    display: flex;

}
.nav-bar {
    background-color: var(--nothing);
    display: flex;
    font-family: monospace;
    justify-content: center;
}
nav ul li {

    display: inline;
    margin: 50px;
}
nav a:hover {
    color: var(--cool-pink);
}

.body-intro {
    font-family: monospace;
    background-color: var(--cool-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}


h2 {
    font-size: 50px;
    color: var(--nothing);
    text-align: center;
    margin-top: 20px;

}
div img {
    height: 50vh;
}
.flex-box {
    display: flex;
    flex-direction: row;

}
.body-main-1 {
    font-family: monospace;
    height: 135vh;
    width: 40vh;
    background-color: var(--nothing);


}
h3 {
    width: 30vh;
    height: 45vh;
    font-size: 25px;
    color: var(--cool-blue);
    text-align: left;
    margin-top: 20px;
    margin-right: 2000px;
}
p {
    color: var(--nothing);
    font-size: 20px;
    margin: 5px 15px 15px 15px;
}

.body-main-am {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: var(--cool-blue);
    padding-top: 5vh;
    height: 55vh;

}
.images-work {
    background-color: var(--cool-blue);
    padding-top: 8vh;
    

}



.body-main-work {
    display: flex;
    flex-direction: initial;
    height: 55vh;
    width: 75vh;

}
 img {
    height: 40vh;
 }

 .contact-me {
    background-color: var(--nothing);
 }
h4 {
    font-size: 50px;
    text-align: center;
}

