* {
    /* background-color: var(--nothing);  */
}
:root {
    --nothing: rgb(0, 0, 0);
    --cool-blue: rgb(133, 186, 247);
    --cool-pink:rgb(197, 73, 255);
    --everything: rgb(250, 250, 250);
}

a {
    cursor: pointer;
    color: var(--cool-blue);
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    header, aside, nav, article, main, footer {
        flex-direction: column;
    }
    header {
        display: flex;
        flex-wrap: wrap;
    }
    nav ul {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        margin-left: 40vh;
    
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    aside {
        display: flex;
        flex-wrap: wrap;
    }
    p{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    article {
        display: flex;
        flex-wrap: wrap;
    }
    
        
    footer {
        display: flex;
        flex-wrap: wrap;
    }
}

.header-main {
    font-family: monospace;
    background-color: var(--nothing);
    color: var(--cool-blue);
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content:row;
    align-items: center;
}
h1 {
    margin-top: 5vh;
    font-size: 40px;
}
.header .h1{
    display: flex;

}
.nav-bar {
    background-color: var(--nothing);
    display: flex;
    font-family: monospace;
    justify-content: center;
}
nav ul li {

    display: inline;
    margin: 50px;
}
nav a:hover {
    color: var(--cool-pink);
}

.body-intro {
    font-family: monospace;
    background-color: var(--cool-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}


h2 {
    font-size: 50px;
    color: var(--nothing);
    text-align: center;
    margin-top: 15vh;

}
div img {
    height: 50vh;
}
.flex-box {
    display: flex;
    flex-direction: column;
    


}
.body-main-1 {
    font-family: monospace;
    height: 140vh;
    width: 100%;
    background-color: var(--nothing);
    padding-bottom: 6vh;
;

}
h3 {
    width: 30vh;
    font-size: 25px;
    color: var(--cool-blue);
    text-align: center;
    margin-top: 20px;
    margin-right: 2000px;
    margin-left: 80vh;
}
p {
    color: var(--cool-blue);
    font-size: 20px;
    margin: 5px 15px 15px 15px;
    padding-bottom: 10vh;
}

.body-main-am {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: var(--cool-blue);
    padding-top: 5vh;
    height: 55vh;
    

}
.images-work {
    display: inline-block;
    background-color: var(--cool-blue);
    padding-top: 4vh;
    padding-bottom: 63vh;
    
}



.body-main-work {
    display: flex;
    height: 100%;
    width: 100%;

}
 figure img {
    height: 45vh;
 }

 .contact-me {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--nothing);
 }
h4 {
    width: 30vh;
    font-size: 25px;
    color: var(--nothing)
    margin-top: 20px;
    margin-right: 2000px;
    margin-left: 80vh;
}

